@import "normalize.css";
@import "common.css";

.site {
  flex-direction: row;
  height: 100vh;
}

.site .site__main {
  flex-direction: row;
  width: 70%;
}

.site .site__main .site__left-sidebar {
  width: 170px;
  position: fixed;
  flex-basis: auto;
  flex-grow: 0;
}

.site .site__main .site__content {
  background-color: #ffb6c1;
  flex-basis: auto;
  flex-grow: 1;
  margin-left: 170px;
}

.site .site__main .site__content .products {
  flex-wrap: wrap;
  flex-direction: row;
}

.site .site__main .site__content .products .product {
  background-color: #B0C782;
  margin-bottom: 20px;
  width: 50%;
  height: 250px;
}

.site .site__right-sidebar {
  position: fixed;
  width: 30%;
  height: 100vh;
}

.site .site__right-sidebar .cart {
  flex-basis: 0;
  flex-grow: 1;
}

.site .site__right-sidebar .checkout {
  flex-basis: auto;
  flex-grow: 0;
}
